[alias]
  co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %C(bold)%s %Creset%C(white)%an%Creset %C(green)%cr' --abbrev-commit --date=relative
[color]
  branch = auto
  diff = auto
  status = auto
[branch]
  autosetuprebase = always
[push]
  default = current
